sphinx/build
sphinx/source/*meggie*
meggie/.coverage
.coverage
*.swm
*.pyc
*.swm
*.swo
*.swn
*.swp
*~
build
conda-bld
dist
meggie.egg-info
preferences.cfg
*.~lock.*
*.orig
.project
.pydevproject
.settings/
.eggs
.meggie-env
