build
conda-bld
dist
meggie.egg-info
preferences.cfg
site
docs_updated
htmlcov
*.swm
*.pyc
*.swm
*.swo
*.swn
*.swp
*~
*.~lock.*
*.orig
.project
.pydevproject
.settings/
.eggs
.meggie-env
.coverage
.aider*
