name: Run Tests

on:
  push:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.13

    - name: Install libegl for pyside
      run: |
        sudo apt update && sudo apt install -y libegl1-mesa-dev

    - name: Install Meggie
      run: |
        pip install .[test]

    - name: Check styles
      run: |
        make check

    - name: Run tests
      run: |
        make test
